@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
}


.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

.app {
    background-color: #211f1f;
    min-height: 100vh;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 8px 16px;
    background-color: #c92502;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease all;

    &:hover {
        background-color: #891b02;
    }
}

.button-light {
    background-color: transparent;
    border: 1px solid #c92502;

    &:hover {
        border-color: transparent;
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.loading {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @keyframes circle-loading {
        to {
            transform: rotateZ(360deg);
        }
    }

    & span {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: #fff;
        animation: circle-loading 1200ms ease infinite;
    }
}

.home {
    .loading {
        padding-top: 120px;
        align-items: flex-start;
    }

   & .search {
        display: flex;
        padding: 32px 16px;

        input {
            max-width: 350px;
            width: 100%;
            padding: 12px 6px;
            font-size: 14px;
            border: none;

            &:focus {
                outline: none;
            }
        }

        & .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.movies {
        padding: 32px 16px;

        .movies-grid {
            display: grid;
            column-gap: 32px;
            row-gap: 64px;
            grid-template-columns: 1fr;

            @media (min-width: 500px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 750px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 1100px) {
                grid-template-columns: repeat(4, 1fr);
            }

            &.movie {
                position: relative;
                display: flex;
                flex-direction: column;

                &.movie-img {
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        .overview {
                            transform: translateY(0);
                        }
                    }

                    & img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    &.review {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        background-color: #c92502;
                        color: #fff;
                        border-radius: 0 0 16px 0;
                        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                            0 2px 4px -1px rgba(0, 0, 0, 0.06);
                    }

                    &.overview {
                        line-height: 1.5;
                        position: absolute;
                        bottom: 0;
                        background-color: rgba(201, 38, 2, 0.9);
                        padding: 12px;
                        color: #fff;
                        transform: translateY(100%);
                        transition: 0.3s ease-in-out all;
                    }
                }

                &.info {
                    margin-top: auto;

                    & .title {
                        margin-top: 8px;
                        color: #fff;
                        font-size: 20px;
                    }

                    & .release {
                        margin-top: 8px;
                        color: #c9c9c9;
                    }

                    & .button {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}